[
  {
    "app_id": "00000000-0000-0000-0000-000000000000",
    "app_name": "your-application-name",
    "date": "2026-01-01",
    "role_priority": "app",
    "domain": null,
    "country": "us",
    "lang": "en",
    "webshop": "example.com",
    "roles": [
      "crm_visit_report",
      "crm_visit_report_tester"
    ],
    "ocp_apim_subscription_key": "YOUR_API_SUBSCRIPTION_KEY_HERE",
    "oauth_config": {
      "client_id_env_var": "APP_CLIENT_ID",
      "client_secret_env_var": "APP_CLIENT_SECRET",
      "scope": "api://00000000-0000-0000-0000-000000000000/.default"
    },
    "fetch_history": 0,
    "mutualize_with": 0
  }
]
